<!DOCTYPE html>
<html>
    <head>
        <%- include('partials/head') %>
    </head>
    <body>
        <%- include('partials/nav') %>

        <div class="container">
            <div class="row mt-4">
                <div class="col">
                    <h1>Mes albums</h1>
                    <a href="/albums/create" class="btn btn-primary mt-2">
                        Nouvel Album
                    </a>
                </div>
            </div>
        </div>

        <%- include('partials/scripts') %>
    </body>
</html>