<!DOCTYPE html>
<html>
    <head>
        <%- include('partials/head') %>
    </head>
    <body>
        <%- include('partials/nav') %>
            <div class="container">
                <h1>Bienvenu dans le projet Photothèque!</h1>
                <a href="/albums" class="btn btn-primary p-2 m-2">Accéder aux albums</a>
            </div>
        <%- include('partials/scripts') %>
    </body>
</html>